.form {
  max-width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 1px;
  padding: 20px;
  border-radius: 10px;
}
span {
  margin-top: 20px;
}
.btn {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
